header {
    height: 52px;
    position: fixed;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg,  rgb(101, 62, 62), rgb(13, 12, 12));
    color: rgb(247, 247, 247);
    z-index: 1;
}

nav {
    text-align: center;
    position: relative;
}

nav li {
    display: inline-block;
    margin: 16px 10px;
}

nav li:not(:last-child):after {
    content: "⌁☍";
    margin-left: 24px;
}

nav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s color;
}

nav li a:hover{
    color: rgba(255, 229, 229, 0.5);
}

@media screen and (max-width:1040px) {
    header {
        display: none;
    }
}